__pycache__/
*.py[cod]
*.swp
*.so
.Python
.idea
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
.DS_Store
db.sqlite3
media/
celerybeat-schedule.db
celerybeat-schedule
celerybeat.pid
*.vscode
static/assets/out.png
*dumpfile*
.env
configs/letsencrypt
